<div ng-controller="userController as userCtrl">
  <div class="container theme-showcase" role="main">
   <div class="row">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="row">
               <div class="col-sm-3"><h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  User Panel</h4>
               </div>
               <div class="col-sm-7">
			         <div class="input-group">
					       <span class="input-group-addon">Search</span>
                      <input type="text" class="form-control" ng-model="search"> 
                  </div>
               </div>
               <div class="col-sm-2"ng-controller="headerController">		
                  <button class="btn signup-btn" ng-click="clickToOpenSignUp()" >ADD User</button>
               </div>                            			
            </div>                      
          </div>

        <table class="table">
          <tr>
            <th class="text-center">Username</th>
            <th class="text-center">Name</th>
            <th class="text-center">Surname</th>
            <th class="text-center">Email</th>
            <th class="text-center">Ver</th>
            <th class="text-center">Delete</th>
          </tr>
          <tr ng-repeat="user in userCtrl.users | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
            <th>{{user.Username}}</th>
            <th>{{user.Name}}</th>
            <th>{{user.Surname}}</th>
            <th>{{user.Email}}</th>
            <th><button type="button" class="btn " ng-click="clickToView(user.Username)" >View</button></th>
            <th><button type="button" class="btn " ng-click="clickToDelete(user.Username)" >Delete</button></th>
          </tr>
         </table>

</div>
<pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>

    </div>            
  						</div>              

        
<!------------------------------------------------------------------------------> 