<ion-view view-title="Crono">
    <ion-content>
        <div class="row rowsign">
            <div class="col col-50 col-offset-25">
                <div align="center">
                    <h1><b>Timer</b></h1>
                    <h1>{{hours}}:{{minutes}}:{{seconds}}</h1>
                    <br>
                    <button class="button button-full button-large button-balanced" ng-click='startTimer()'>Start
                    </button>
                    <br>
                    <button class="button button-full button-large button-assertive" ng-click='stopTimer()'>Stop
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>