<ion-view view-title="Races">
    <ion-header-bar class="bar-assertive item-input-inset">
        <h1 class="title">Races</h1>
    </ion-header-bar>
    <ion-content ng-init="loadGroupRaces()">
        <div class="list">
        <div class="item item-input-inset">
            <label class="item-input-wrapper" >
              <input type="text" placeholder="Races Search" ng-model="searchText">
            </label>

        </div>
          <div class="item item-divider">
            Carreras del Grupo
          </div>

        <div class="card" ng-repeat="r in groupraces | filter:searchText" href="#/map/race/{{r._id}}">
            <div class="item" style="background-color: #D2F8D2">
                <div class="row row-no-padding">
                    <div class="col">
                        <h1>{{r.Distance}} Km</h1>
                    </div>
                    <div class="col">
                        <h2>{{r.Name}}</h2>
                        <p>{{r.Level}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <a class="item" href="#"><i class="icon ion-android-pin"></i>
               		Lugar de salida: {{r.LocationIni}}
           			</a>
                </div>
                <div class="col">
                   <a class="item" href="#"><i class="icon ion-clock"></i>
              			Fecha: {{r.Date}}
            		</a>
                </div>
                <div class="col">
                   <a class="item" href="#"><i class="icon ion-speakerphone"></i>
              			Administrador: {{r.Admin}}
            		</a>
                </div>
           	</div>

         <div ng-click="startRace(r._id)" class="item tabs  tabs-icon-left">
             <i class="icon  ion-android-alarm-clock"> Start Race</i>
          </div>
        </div>

        </ion-item>

		<div class="item item-divider">
            Otras Carreras
          </div>
            <ion-item >
					<div class="list" ng-init="loadNoGroupRaces()">
					  <div class="item item-button-right" ng-repeat="r in otherraces | filter:searchText">
    					{{r.Name}} - {{r.Distance}}
    				  <button class="button button-balanced" onclick="addRace(r._id)">
      			    <i class="icon ion-plus-round"></i>
    				  </button>
  				    </div>
                        </ion-item>
        </div>
     
            
    </ion-content>
</ion-view>

   <script id="deleteRace.html" type="text/ng-template">
                <ion-modal-view>
                    <ion-header-bar class="bar bar-header bar-dark">
                        <h1 class="title">Deleting Race</h1>

                    </ion-header-bar>
                    <ion-content align="center">
                        <div class="row">
                        	<div class="col-5"></div>
                        	<div class="col">
                        		<h1> <i class="icon ion-alert-circled " style="color:red;"></i> Are you sure?</h1>
                        		<p></p>
                        		<h3>All messages wil be deleted and this action can't be undone.</h3>
                        		<br>
                        		<button class="button button-block button-balanced" ng-click="closeModal()">No</button>
                        		<button class="button button-block button-outline button-assertive" ng-click="deleteRace()">Yes</button>
									</div>
                        	<div class="col-5"></div>									
                    </ion-content>
                </ion-modal-view>
     </script>
