<ion-view>
<ion-content>

<div class="list card">
<div class="card" data-ng-repeat="m in messages track by $index">
  <div class="item item-divider">
    {{m.Username}} dice:
  </div>
  <div class="item item-text-wrap">
   {{m.Text}}
  </div>
</div>
</div>
        </ion-content>
<div class="bar bar-footer">

  <label class="item item-input col-80 item-floating-label">
    <span class="input-label">Responder</span>
    <input type="text" placeholder="Responder">
  </label>
  <button class="col-20 button button-light">Responder</button>


</div>








</ion-content>
</ion-view>