        <!--Setup library-->
        <link rel="stylesheet" href="lib/ionic/css/ionic.css">
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="cordova.js"></script>

        <!--Setup app-->
        <link rel="stylesheet" href="css/index.css">
        <script src="index.js"></script>
        
        
<body data-ng-controller="GroupsCtrl" onload="loadGroups()">
<ion-view title="Groups">
        <ion-header-bar class="bar-assertive">
            <h1 class="title">Groups</h1>
        </ion-header-bar>
        <ion-content>
            <ion-refresher on-refresh="loadGroups()">            
            </ion-refresher>
            
            
            <div data-ng-if="!groups.length">
                <center>                                        
                    <br>
                    <h2> Pull down to load </h2>
                </center>
            </div>

        
        <div class="list card">
<ion-item data-ng-repeat="g in groups track by $index" href="#/map/group/{{g._id}}">
  
<div class="card">
<div class="item item-avatar" >
    <h2>{{g.Name}}</h2> 
    <p>{{g.Level}}</p>
  </div>

  <div class="item item-body">
    <p>
     {{ g.Info}}
    </p>
    <p>
      <a href="#" class="subdued">Members {{g.Users.length}}</a>
      <a href="#" class="subdued">Races {{g.Users.length}}</a>
      <a href="#" class="subdued">Administrador {{g.Admin_Group}}</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
  </div>

</ion-item>
</div>

            <ion-infinite-scroll on-infinite="moreBlogs()" 
                    data-ng-if="infiniteLoad" icon="">
            </ion-infinite-scroll>
        </ion-content>
        </ion-view>
    </body>
