<!DOCTYPE html>
<html ng-app="loginRunRunners">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>RunRunners</title>
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- ionic css -->
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <link rel="stylesheet" href="css/login.css">
        <!-- cordova script -->
        <!--script src="cordova.js"></script>
        <!-- your app's script -->
        <script type="text/javascript" src="lib/ionic/js/angular/angular.js"></script>
        <script type="text/javascript" src="lib/ionic/js/angular/angular-resource.js"></script>
        <script src="js/login.js"></script>
    </head>

    <!-- 'starter' is the name of this angular module (js/app.js)-->
    <body ng-controller="facebookController" >
        <ion-header-bar class="bar-dark">
            <div class= "container clearfix">
                <div class="navbar-header">
                    <a id="home" class="navbar-brand">RunRunners</a>
                </div>
            </div>
        </ion-header-bar>
        <ion-content>
            <ion-item>req.user</ion-item>
        </ion-content>
    </body>
</html>