<ion-header-bar>
    <nav id="navbarid" class="bar bar-header bar-stable bar-dark" role="navigation">
        <h1 class="title">Wellcome to RunRunners</h1>
    </nav>
</ion-header-bar>
<ion-content>
    <div class="row rowsign">

        <div class="col col-50 col-offset-25" ng-controller="loginCtrl as userCtrl">
            <section class="tab" ng-controller="tabCtrl as tab">
                <div align="center">
                    <a><img align= "c" src="./img/runrunners.png"></a>
                </div>

                <br>

                <div ng-show="tab.isSet(1)">
                    <form name="userFormSignIn" ng-submit="userFormSignIn.$valid && userCtrl.loginUser()" novalidate>
                        <fieldset class="form-group">
                            <input ng-minlength=4 class="form-control" placeholder="Username"
                                   title="Username" ng-model="userCtrl.user.Username" type="text" required/>
                            <input ng-minlength=8 class="form-control" placeholder="Password"
                                   title="Password" ng-model="userCtrl.user.Password" type="password"/>
                            <input type="submit" class="button button-small button-energized"  value="Sign In"/>
                        </fieldset>
                    </form>
                </div>

                <div ng-show="tab.isSet(2)">
                    <form name="userFormSignUp" ng-submit="userFormSignUp.$valid && userCtrl.addUser()" novalidate>
                        <p></p>
                        <fieldset class="form-group">
                            <input ng-minlength=4 class="form-control" placeholder="Name"
                                   title="Name" ng-model="userCtrl.user.Name" type="text" required/>
                            <input ng-minlength=4 class="form-control" placeholder="Surname"
                                   title="Surname" ng-model="userCtrl.user.Surname" type="text" required/>
                            <input ng-minlength=4 class="form-control" placeholder="Username"
                                   title="Username" ng-model="userCtrl.user.Username" type="text" required/>
                            <input ng-minlength=8 class="form-control" placeholder="Password  (Min. 8 characters)"
                                   title="Password" ng-model="userCtrl.user.Password" type="password" required/>
                            <input ng-minlength=4 class="form-control" placeholder="Email"
                                   title="Email" ng-model="userCtrl.user.Email" type="email" required/>
                            <input type="submit" class="button button-small button-energized" value="Create user"/>
                        </fieldset>
                    </form>
                </div>
                <div class="button-bar">
                    <a ng-class="{ active: tab.isSet(1) }" class="button button-block button-small button-positive" ng-click="tab.setTab(1)">Sign In</a>
                    <a ng-class="{ active: tab.isSet(2) }" class="button button-block button-small button-positive" ng-click="tab.setTab(2)">Sign Up</a>
                </div>
                <button class="button  button-block button-small button-positive" ng-click="loginFacebook()">
                    <span class="ion-social-facebook" style="font-size: 145%">   </span>Log with Facebook!
                </button>
            </section>
        </div>

    </div>
</ion-content>