<ion-view title="Help" >
<ion-content class="has-header padding">
<div style="padding-left: 20%;padding-right: 20%">
<div class="row responsive-sm">
	<div>
		<img src="./img/rr.png">

		<div class="list" >
			<label class="item item-input">
				<input type="text" placeholder="Username">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password">
			</label>

				<button class="button button-block button-balanced">Sign In</button>
				<button class="button button-block button-energized" onclick="window.location.href='/index.html#/map/signup'">
					Sign Up</button>
				<button class="button  button-block button-positive ">
					<span class="ion-social-facebook" style="font-size: 145%">   </span>Log with Facebook!
				</button>
		</div>
	</div>
</div>
</div>
</ion-content>
</ion-view>