<!DOCTYPE html>
<html ng-app="ui.bootstrap.demo">
<head lang="en">

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
   <!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">-->
  <!--  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
   <!-- <link href=" https://github.com/angular/bower-angular-route/blob/master/angular-route.min.js" rel="stylesheet">-->
   <!-- <script src="http://code.angularjs.org/1.2.4/angular-route.js"></script>-->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>

    <title>RunRunners</title>
</head>
<style type="text/css">

    .modal {
        display: none;
        position: absolute;
        top: 10%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        background: #fff;
        color: #333;

    }
    .form input{
        display:block;
        align:center;
    }
    .form input.ng-valid {
        border: thin solid #090;
    }
    .form input.ng-invalid {
        border: thin solid #FA787E;
    }
</style>

<body>

<div class="bar bar-header bar-dark"> <!--ng-controller="menu">-->
    <h1 class="title">Profile</h1><br><br>
</div>

<br><br><br><br>



<!--<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

    <ul class = "nav nav-sidebar" >-->
<div align="center">
<img  src="http://www.xtec.cat/~jcruz/castellano/recursos_files/runner.gif"  class="img-rounded"/>
        <br><br>
        <h2>User information</h2>
        <div ng-controller="GetCtrl" >
            <!--<ul ng-repeat="user in users">-->
            <ul> <h4> {{users.Name}} </h4> Username: {{users.Username}}   <br> Email: {{users.Email}} <br> Level: {{users.Level}}
                <br> Gender: {{users.Gender}} <br> </ul>
            <!--  </ul>-->
        </div>

<br><br>


        <!-- modal update -->
        <div ng-controller="ModalDemoCtrl">
            <script type="text/ng-template" id="ModalUpdate" class="modal">
                <div class="modal-header">
                    <h3 class="modal-title">Update User</h3>
                    <h4 >Puede actualizar un campo o los que quiera</h4>
                </div>
                <form novalidate class="form" align="center">
                    Username:  <input type="text"     placeholder="Username" class="form-control"  name="Username" required ng-model="updateUser.Username"/>
                    Password : <input type="password" placeholder="Password" class="form-control" name="Password" required ng-model="updateUser.Password"/>
                    Name:      <input type="text"     placeholder="Name"  class="form-control" name="Name" required ng-model="updateUser.Name"/>
                    Surname:   <input type="text"     placeholder="Surname" class="form-control" name="Surname" required  ng-model="updateUser.Surname"/>
                    Email:     <input type="email"    placeholder="nombre@dominio" class="form-control"  name="Email" required ng-model="updateUser.Email"/>
                    Birthdate: <input type="date"     placeholder="Birthdate" class="form-control" name="Birthdate" required  ng-model="updateUser.Birthdate"/>
                    Gender:    <input type="text"     placeholder="Gender" class="form-control" name="Gender" required  ng-model="updateUser.Gender"/>
                    <br>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="okUpdate()">Update</button>
                        <button class="btn btn-warning" ng-click="cancelUpdate()">Cancel</button>
                    </div>
                </form>
            </script>
            <button id="update" class="button button-outline button-positive" ng-click="openUpdate()">Update User</button>
        </div>
<br>
        <div ng-controller="ModalDemoCtrl">
            <!-- modal delete -->
            <script type="text/ng-template" id="ModalDelete" class="modal">
                <div class="modal-header">
                    <h3 class="modal-title">Delete User</h3>
                </div>
                <div class="modal-body" align="center">
                    <h4>Are you sure to delete this user ?</h4>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="okDelete()">Yes</button>
                    <button class="btn btn-warning" ng-click="cancelDelete()">No</button>
                </div>
            </script>
            <button id="delete" class="button button-outline button-assertive" ng-click="openDelete()">Delete User</button>
        </div>
   <!-- </ul>
    </div>-->
<!--
<ion-header-bar class="bar-energized">
    <h1 class="title">Datos Usuario</h1>
</ion-header-bar>-->


</div>
</body>
<script src="js/modal.js"></script>
<script src="js/ngDialog.js"></script>
<script src="js/angular-route.js"></script>



</html>