        <!--Setup library-->
        <link rel="stylesheet" href="lib/ionic/css/ionic.css">
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="cordova.js"></script>

        <!--Setup app-->
        <link rel="stylesheet" href="css/index.css">
        <script src="index.js"></script>
        
        
<body data-ng-controller="RacesCtrl">

<ion-view title="Races">        
        <ion-header-bar class="bar-assertive item-input-inset">
            <h1 class="title">Races</h1>
		</ion-header-bar>
        <ion-content>

<div class="list">
<div class="item item-input-inset">
    <label class="item-input-wrapper" >
      <input type="text" placeholder="Races Search" ng-model="searchText">
    </label>
    <button class="button button-small">
      Create New Race
    </button>
</div>
  <div class="item item-divider">
    Mis Carreras
  </div>

<ion-item data-ng-repeat="r in ownraces | filter:searchText" href="#/map/race/{{r._id}}">
  
<div class="card">
	<div class="item" style="background-color: #D2F8D2">
		<div class="row">	
			<div class="col-20">
    			<h1>{{r.Distance}} Km</h1>
			</div>
			<div class="col">
    			<h2>{{r.Name}}</h2> 
    			<p>{{r.Level}}</p>
			</div>
		</div>
	</div>
	<div class="row">	
			<div class="col">
    			     <span class="item" href="#">
      <i class="icon ion-android-pin"></i>
       Lugar de salida: {{r.LocationIni}}
    </span>
			</div>
			<div class="col">
    			     <a class="item" href="#">
      <i class="icon ion-android-alarm-clock"></i>
      Fecha: {{r.Date}}
    </a>
			</div>
		</div>
	
 <div class="item tabs  tabs-icon-left">
     <a class="tab-item" href="#">
      <i class="icon ion-android-contacts"></i>
      {{r.Users.length}} Members
    </a>

    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Messages {{r.Messages.length}}
    </a> 
    <a class="tab-item" href="#" style="color: red;">
      <i class="icon ion-minus-circled"></i>
      Abandonar Carrera
    </a>
    
  </div>
</div>

</ion-item>

  <div class="item item-divider">
    Otras Carreras
  </div>
<ion-item data-ng-repeat="r in otherraces | filter:searchText">
  
<div class="card">
	<div class="item item-avatar" style="background-color: #F8EBD2">
		<div class="row">	
			<div class="col-20">
    			<h1>{{r.Distance}} Km</h1>
			</div>
			<div class="col">
    			<h2>{{r.Name}}</h2> 
    			<p>{{r.Level}}</p>
			</div>
		</div>
	</div>
	<div class="row">	
			<div class="col">
    			     <span class="item" href="">
      <i class="icon ion-android-pin"></i>
       Lugar de salida: {{r.LocationIni}}
    </span>
			</div>
			<div class="col">
    			     <a class="item" href="">
      <i class="icon ion-android-alarm-clock"></i>
      Fecha: {{r.Date}}
    </a>
			</div>
		</div>
	
 <div class="item tabs  tabs-icon-left">
     <a class="tab-item" href="">
      <i class="icon ion-android-contacts"></i>
      {{r.Users.length}} Members
    </a>

    <a class="tab-item" href="">
      <i class="icon ion-chatbox"></i>
      Messages {{r.Messages.length}}
    </a> 
    <a class="tab-item" ng-click="addUser(r._id)" style="color: green;">
      <i class="icon ion-plus-circled"></i>
      Apuntarse a carrera
    </a>
    
  </div>
</div>

</ion-item>
</div>
     
            
        </ion-content>
        
        
        </ion-view>
    </body>
