        <!--Setup library-->
        <link rel="stylesheet" href="lib/ionic/css/ionic.css">
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="cordova.js"></script>

        <!--Setup app-->
        <link rel="stylesheet" href="css/index.css">
        <script src="index.js"></script>


<body data-ng-controller="GroupCtrl">

        <ion-header-bar class="bar-assertive">
            <h1 class="title">Groups</h1>
        </ion-header-bar>
        <ion-content>
            <ion-refresher on-refresh="loadGroupMessages()">            
            </ion-refresher>
            
            
            <div data-ng-if="!groups.length">
                <center>                                        
                    <br>
                    <h2> Pull down to load </h2>
                </center>
            </div>

<div class="list card">
<div class="card" data-ng-repeat="m in messages track by $index">
  <div class="item item-divider">
    {{m.Username}} dice:
  </div>
  <div class="item item-text-wrap">
   {{m.Text}}
  </div>
</div>
</div>
        </ion-content>
<div class="bar bar-footer">

  <label class="item item-input col-80 item-floating-label">
    <span class="input-label">Responder</span>
    <input type="text" placeholder="Responder">
  </label>
  <button class="col-20 button button-light">Responder</button>


</div>

        </body>






</ion-content>
</ion-view></body>