        <!--Setup library-->
        <link rel="stylesheet" href="lib/ionic/css/ionic.css">
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="cordova.js"></script>

        <!--Setup app-->
        <link rel="stylesheet" href="css/index.css">
        <script src="index.js"></script>
        
        
<body data-ng-controller="RacesCtrl" onload="loadRaces()">

        <ion-header-bar class="bar-assertive">
            <h1 class="title">Races</h1>
        </ion-header-bar>
        <ion-content>
            <ion-refresher on-refresh="loadRaces()">            
            </ion-refresher>
            
            
            <div data-ng-if="!races.length">
                <center>                                        
                    <br>
                    <h2> Pull down to load </h2>
                </center>
            </div>

        
        <div class="list card">
<ion-item data-ng-repeat="r in races track by $index" href="#/map/race/{{r._id}}">
  
<div class="card">
<div class="item item-avatar" >
    <h2>{{r.Name}}</h2> 
    <p>{{r.Level}}</p>
  </div>

  <div class="item item-body">
    <p>
     {{ r.Distance}}
    </p>
    <p>
      <a href="#" class="subdued">Members {{r.Users.length}}</a>
      <a href="#" class="subdued">Administrador </a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
  </div>

</ion-item>
</div>


        </ion-content>
    </body>
