<ion-view view-title="Stats">
    <ion-header-bar class="bar-dark item-input-inset">
        <h1 class="title">Stats</h1>
    </ion-header-bar>
    <ion-content>
        <div class="col-md-4" align="center" id="global">
            <br>
            <h3>Global statistics</h3>
            <br>
            <div><b > Distance:</b><a> 40Km</a></div>
            <div><b > Time:</b><a> 04:25</a></div>
            <div><b> Level:</b><a> Initiated</a></div>
            <div><b> Type :</b><a> Urban</a></div>
        </div>
        <div class="col-md-4" align="center" >
            <div id="curve_chart" style="width: 500px; height: 200px"></div>
        </div>
        <div class="col-md-4" align="center" id="races">
            <h3>Races Done/Pending</h3>
            <br>
            <div>
                <b> Races Done:</b><br>
            </div>


            <div ng-init='getraces()' >
                <!--<ul ng-repeat="user in users">-->
                <ul>
                    Name: {{users.Races.Name}}
                    Level: {{users.Races.Level}}
                </ul>
                <!--  </ul>-->
            </div>

            <div>
                <b > Races Pending:</b><br>

                <div ng-init='getraces()' >
                    <!--<ul ng-repeat="user in users">-->
                    <ul>
                        Name: {{users.Races.Name}}
                        Level: {{users.Races.Level}}
                    </ul>
                    <!--  </ul>-->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>