<ion-view title="Usuarios">
    <ion-header-bar class="bar-assertive item-input-inset">
        <h1 class="title">Users</h1>
    </ion-header-bar>
    <ion-content ng-init="loadUsers()">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" >
                  <input type="text" placeholder="User Search" ng-model="searchText">
                </label>
            </div>
            <ion-item >
                <div class="list">
                  <div class="item item-button-right" ng-repeat="u in users | filter:searchText">
							<h3>{{u.Username}}</h3>
    						<button class="button button-assertive" ng-click="deleteUser('{{u._id}}')">
      					<i class="icon ion-log-out"></i>
    						</button>
  						</div>
                </div>

            </ion-item>
          </div>
    </ion-content>
</ion-view>





  ...

