<html ng-app="wallApp">
<head>
  <meta charset="utf-8">
  <title>RunRunners</title>
  <link rel="stylesheet" href="../resources/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="wall/css/wall.css">
  <link rel="stylesheet" href="wall/css/calendar.css">
</head>

<body>
<nav class="navbar navbar-inverse navbar-run">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:#36FF03"><h1>RunRunners</h1></a>
    </div>
    <div>
      <ul class="navbar-btn-run nav navbar-nav pull-right " >
        <li><a style="color:#36FF03" href="/profile">Perfil</a></li>
        <li><a style="color:#36FF03" href="/login">LogOut</a></li>
      </ul>
    </div>
</nav>


<div>
  <div id="map"></div>
    
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-3" ng-controller="groupController">
             <p class="title-block center">Grupos</p>
             <div id="class" ng-repeat="group in groups ">
                <a href="" ng-click="getGroupMessages($event,group.id)"><h3>{{group.name+' id:'+group.id}}</h3></a>
             </div>
        </div>  
        
        <div class="col-md-5" ng-controller="messageController">
             <p class="title-block center">Grupos</p>
             <div id="messages_block" ng-repeat="message in messages ">
                <p><h4>{{message.username+' dice:'}}</h4><h3>{{message.text}}</h3> </p>
             </div>
        </div>
    
        <div class="col-md-4" ng-controller="mapController">
             <p class="title-block center">Carreras en la Ciudad <input  type="text" ng-model="racefilter"></p>        
             <div id="class" ng-repeat="race in races | orderBy : 'title'| filter:racefilter">
                 <a href="" ng-click="openInfoWindow($event, race)"><h3>{{race.name}}</h3></a>
             <p><h5>{{race.distance+ ' km'}}</h5></p>
             </div>
        </div>
 

      </div> 
   </div>    
</div>

  <script src="../resources/jquery/dist/jquery.js"></script>
  <script src="../resources/angular/angular.js"></script>
  <script src="../resources/angular-route/angular-route.js"></script>
  <script src="../resources/angular-resource/angular-resource.js"></script>
  <script src="wall/js/wall.js"></script>
  <script src="wall/js/wallcontrollers.js"></script>
  <script src="wall/js/calendar.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  
</body>
</html>
