<!DOCTYPE html>
<html lang="es" ng-app="loginRunRunners">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Login-RunRunners</title>

        <link rel="stylesheet" href="../resources/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="login/css/ngDialog.min.css">
        <link rel="stylesheet" href="login/css/ngDialog-theme-default.min.css">
        <link rel="stylesheet" href="login/css/ngDialog-theme-plain.min.css">
        <link rel="stylesheet" href="login/css/login.css">


    </head>
    <body>
        <nav id="navbarid" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class= "container clearfix">
                <div class="navbar-header">
                    <a id="home" class="navbar-brand">RunRunners</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-buttons" ng-controller="headerController">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="" class="btn signin-btn" ng-click="clickToOpenSignIn()" >Sign In</a>
                        </li>
                        <li>
                            <a href="" class="btn signup-btn" ng-click="clickToOpenSignUp()" >Sign Up</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div id="homepg" class="container">

        </div>

        <script type="text/ng-template" id="signIn">
            <div class="ngdialog-content" ng-controller="userController as userCtrl">
                <form name="userFormSignIn" ng-submit="userFormSignIn.$valid && userCtrl.loginUser()" novalidate>
                    <h4>Sign In</h4>
                    <fieldset class="form-group">
                        <input ng-minlength=4 class="form-control" placeholder="Username"
                               title="Username" ng-model="userCtrl.user.Username" required/>
                        <input ng-minlength=8 class="form-control" placeholder="Password"
                               title="Password" ng-model="userCtrl.user.Password" type="password" required/>
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary pull-right"  value="Sign In"/>
                    </fieldset>
                </form>
            </div>
        </script>

        <script type="text/ng-template" id="signUp">
            <div class="ngdialog-content" ng-controller="userController as userCtrl">
                <form name="userFormSignUp" ng-submit="userFormSignUp.$valid && userCtrl.addUser()" novalidate>
                    <h4>Create user</h4>
                    <fieldset class="form-group">
                        <input ng-minlength=4 class="form-control" placeholder="Name"
                               title="Name" ng-model="userCtrl.user.Name" required/>
                        <input ng-minlength=4 class="form-control" placeholder="Surname"
                               title="Surname" ng-model="userCtrl.user.Surname" required/>
                        <input ng-minlength=4 class="form-control" placeholder="Username"
                               title="Username" ng-model="userCtrl.user.Username" required/>
                        <input ng-minlength=8 class="form-control" placeholder="Password  (Min. 8 characters)"
                               title="Password" ng-model="userCtrl.user.Password" type="password" required/>
                        <!--
                        <input ng-minlength=4 class="form-control" placeholder="Repeat Password"
                               title="Repeat Password" ng-model="userCtrl.user.Username" required/>
                        -->
                        <input ng-minlength=4 class="form-control" placeholder="Email"
                               title="Email" type="email" ng-model="userCtrl.user.Email" required/>
                        <!--
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                                <span >Level</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Beginner</a></li>
                                <li><a href="#">Initiated</a></li>
                                <li><a href="#">Professional</a></li>
                            </ul>
                        </div>
                        -->
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary pull-right"  value="Create user"/>
                    </fieldset>
                </form>
            </div>
        </script>
        <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation" ng-controller="footerController">

            <div class="navbar-header">

            </div>
        </nav>
        <script type="text/javascript" src="../resources/angular/angular.min.js"></script>
        <script type="text/javascript" src="../resources/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="login/js/ngDialog.js"></script>
        <script type="text/javascript" src="login/js/login.js"></script>
    </body>
</html>