<!-- index.html -->
<!DOCTYPE html>
<html ng-app='angularRoutingApp'>
<head>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
</head>
<body style="padding-top:50px">
<div>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="">RunRunners-BackOffice</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Users</a></li>
            <li><a href="#races">Races</a></li>
            <li><a href="#message">Messages</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    </div>
	<div id="main" style="body-bar" >
	<!-- Aquí inyectamos las vistas -->
		<div ng-view></div>
	</div>


    <script type="text/ng-template" id="addUser">
        <div class="ngdialog-content" ng-controller="userController as userCtrl">
            <form name="userFormAddUser" ng-submit="userFormAddUser.$valid && userCtrl.addUser()" novalidate>
                <h4>Add user</h4>
                <fieldset class="form-group">
                    <input ng-minlength=4 class="form-control" placeholder="Name"
                           title="Name" ng-model="userCtrl.user.Name" required/>
                    <input ng-minlength=4 class="form-control" placeholder="Surname"
                           title="Surname" ng-model="userCtrl.user.Surname" required/>
                    <input ng-minlength=4 class="form-control" placeholder="Username"
                           title="Username" ng-model="userCtrl.user.Username" required/>
                    <input ng-minlength=8 class="form-control" placeholder="Password  (Min. 8 characters)"
                           title="Password" ng-model="userCtrl.user.Password" type="password" required/>

                    <input ng-minlength=4 class="form-control" placeholder="Email"
                           title="Email" type="email" ng-model="userCtrl.user.Email" required/>
                </fieldset>
                <fieldset class="form-group">
                    <input type="submit" class="btn btn-primary pull-right"  value="Create user"/>
                </fieldset>
            </form>
        </div>
    </script>

    <script type="text/ng-template" id="updateUser">
        <div class="ngdialog-content" ng-controller="userController as userCtrl">
            <form name="userFormUpdateUser" ng-submit="userFormUpdateUser.$valid && userCtrl.updateUser(Username,Name, Surname,Email)" novalidate>
                <h4>Update user</h4>
                <fieldset class="form-group">
                    <input ng-minlength=4 disabled class="form-control" title="Username" type="text"
                           ng-model="Username" required/>
                    <input ng-minlength=4 class="form-control" title="Name" type="text"
                           ng-model="Name" required/>
                    <input ng-minlength=4 class="form-control" title="Surname" type="text"
                           ng-model="Surname" required/>
                    <input ng-minlength=4 class="form-control" title="Email" type="text"
                           ng-model="Email" required/>
                </fieldset>
                <fieldset class="form-group">
                    <input type="submit" class="btn btn-primary pull-right"  value="Update user"/>
                </fieldset>
            </form>
        </div>
    </script>

    <script type="text/javascript" src="./js/angular.js"></script>
    <script type="text/javascript" src="./js/angular-resource.js"></script>
    <script type="text/javascript" src="../lib/ionic/js/ngDialog.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js" type="text/javascript"></script>
    <script type="text/javascript" src="./js/backoffice.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.3/angular-route.js"></script>
    <script src="main.js"></script>
    <script src="../lib/ionic/js/ngDialog.js"></script>
    <script src="./js/backoffice.js"></script>
</body>
</html>
