<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.eetac.ea.asantamaria.runrunners_android" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WellcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChronometerActivity"
            android:label="@string/title_activity_chronometer" >
        </activity>
        <activity
            android:name=".RaceResultsActivity"
            android:label="@string/title_activity_race_results" >
        </activity>
    </application>

</manifest>
