<!DOCTYPE html>
<html ng-app="loginRunRunners">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>RunRunners</title>
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- ionic css -->
        <link href="https://code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
        <script src="https://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
        <link rel="stylesheet" href="css/login.css">
        <!-- cordova script -->
       
        <!-- your app's script -->
        <script type="text/javascript" src="lib/ionic/js/angular/angular-resource.js"></script>
        <script src="js/login.js"></script>
    </head>

    <!-- 'starter' is the name of this angular module (js/app.js)-->
    <body >
        <ion-header-bar>
            <nav id="navbarid" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
                <div class= "container clearfix">
                    <div class="navbar-header">
                        <a id="home" class="navbar-brand">RunRunners</a>
                    </div>
                    <!--
                    <div class="collapse navbar-collapse" id="navbar-buttons" ng-controller="headerController">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="" class="btn signin-btn" ng-click="clickToClose()" >Close</a>
                            </li>
                        </ul>
                    </div>
                    -->
                </div>
            </nav>
        </ion-header-bar>
        <ion-content>
            <div class="row rowsign">
                <div class="col-sm-5"></div>
                <div class="col-sm-3" ng-controller="userController as userCtrl">
                    <section class="tab" ng-controller="TabController as tab">
                        <ul class="nav nav-pills">
                            <li ng-class="{ active: tab.isSet(1) }">
                                <a ng-click="tab.setTab(1)">Sign In</a></li>
                            <li ng-class="{ active: tab.isSet(2) }">
                                <a ng-click="tab.setTab(2)">Sign Up</a></li>
                        </ul>
                        <div ng-show="tab.isSet(1)">
                            <form name="userFormSignIn" ng-submit="userFormSignIn.$valid && userCtrl.loginUser()" novalidate>
                                <h4>Sign In</h4>
                                <fieldset class="form-group">
                                    <input ng-minlength=4 class="form-control" placeholder="Username"
                                           title="Username" ng-model="userCtrl.user.Username" type="text" required/>
                                    <input ng-minlength=8 class="form-control" placeholder="Password"
                                           title="Password" ng-model="userCtrl.user.Password" type="password" required/>
                                    <input type="submit" class="btn btn-primary pull-right"  value="Sign In"/>
                                </fieldset>
                            </form>
                        </div>
                        <div ng-show="tab.isSet(2)">
                            <form name="userFormSignUp" ng-submit="userFormSignUp.$valid && userCtrl.addUser()" novalidate>
                                <h4>Sign Up</h4>
                                <fieldset class="form-group">
                                    <input ng-minlength=4 class="form-control" placeholder="Name"
                                           title="Name" ng-model="userCtrl.user.Name" type="text" required/>
                                    <input ng-minlength=4 class="form-control" placeholder="Surname"
                                           title="Surname" ng-model="userCtrl.user.Surname" type="text" required/>
                                    <input ng-minlength=4 class="form-control" placeholder="Username"
                                           title="Username" ng-model="userCtrl.user.Username" type="text" required/>
                                    <input ng-minlength=8 class="form-control" placeholder="Password  (Min. 8 characters)"
                                           title="Password" ng-model="userCtrl.user.Password" type="password" required/>
                                    <input ng-minlength=4 class="form-control" placeholder="Email"
                                           title="Email" ng-model="userCtrl.user.Email" type="email" required/>
                                    <input type="submit" class="btn btn-primary pull-right" value="Create user"/>
                                </fieldset>
                            </form>
                        </div>
                        <a href="" class="btn" ng-click="loginFacebook()"><img src="./img/fblogin.png" width="154" height="22"></a>
                    </section>
                </div>
            </div>
        </ion-content>


    </body>
</html>
