/* app css stylesheet */

body{

background-color: black;
}

.navbar-run{
boder-radius:0px;
margin-bottom: 0px;

}

h5{
font-style: italic;
color: white;


}
.title-block{
font-size: 22px;
color: #36FF03;
background-color: #4E4747;
padding-left: 35%;

}

#map {
    height:500px;
    width:100%;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
.brand{
color:#36FF03
}

h1{
	margin-top: 3px;
}
.navbar-btn-run{
font-size: 22px;
color: #36FF03 !important;
background-color: #222222;
padding-left: 35%;

}